# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.tlog
*.log

# Executables
*.exe
*.pdb
*.out
*.app
/.vs
/win/.vs/MySQL/v16

*.exp
*.recipe
/win/sql/data/ib_logfile0
/win/archive_output_directory
/win/extra
/win/mysql-test
/win/unittest
/win/sql/data/ib_logfile1
/win/sql/data/ibdata1
/mysql-5.7.33/out/build/x64-Debug (默认值)/.cmake/api/v1/query/client-MicrosoftVS/query.json
/mysql-5.7.33/out/build/x64-Debug (默认值)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC
/mysql-5.7.33/out/build/x64-Debug (默认值)/CMakeFiles/3.18.20081302-MSVC_2
/mysql-5.7.33/out/build/x64-Debug (默认值)/CMakeFiles
/mysql-5.7.33/out/build/x64-Debug (默认值)
