# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.tlog
*.log

# Executables
*.exe
*.pdb
*.out
*.app
/.vs
/win/.vs/MySQL/v16

*.exp
*.recipe
/win/sql/data/ib_logfile0
/win/sql/data/ib_logfile1
/win/sql/data/ibdata1
